<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="" 
                address="net.tcp://localhost:8090/CalculatorSample/service" 
                binding="netTcpBinding" 
                contract="CalculatorSample.ICalculator">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
