@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The MVC Random Answer Generator web site lets you
    ask your questions, and get the answers back in your browser.
</p>
