# All files
[*]

# CS0659: Type overrides Object.Equals(object o) but does not override Object.GetHashCode()
dotnet_diagnostic.CS0659.severity = suggestion

# CS0108: Member hides inherited member; missing new keyword
dotnet_diagnostic.CS0108.severity = suggestion

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = none
