# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.
# Not adding in this PR, but I'd like to try adding a global owner set with the entire team.
# One interpretation of their docs is that global owners are added only if not removed
# by a more local rule.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides are first.
# . .NET Core sections are next
# . .NET Framework sections
# . .NET Standard 
# . samples

# In each subsection folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.


############  GUIDES  ################
# .NET Core
/docs/core/** @mairaw

# The C# Guide:
/docs/csharp/** @BillWagner

# The F# Guide:
/docs/fsharp/** @cartermp

# The Visual Basic Guide:
/docs/visual-basic/** @KathleenDollard

# The ML.NET Guide:
/docs/machine-learning/** @natke

# The .NET for Apache Spark Guide:
/docs/spark/** @mamccrea

# The .NET Architecture Guide:
/docs/architecture/** @nishanil

# The Desktop Guide:
/docs/desktop/** @Thraka

############### .NET Core ########################
# What's New
/docs/core/whats-new/** @rpetrusha
# Deployment
/docs/core/deploying/** @rpetrusha

################### .NET FRAMEWORK ##################
# .NET Framework migration guide
/docs/framework/migration-guide/** @rpetrusha
# .NET Framework Security
/docs/framework/security/** @mairaw
# .NET Framework unmanaged API
/docs/framework/unmanaged-api/** @rpetrusha
# What's New
/docs/framework/whats-new/** @rpetrusha
# ADO.NET
/docs/framework/data/adonet/** @stevestein
# NCL
/docs/framework/configure-apps/file-schema/network/** @karelz
/docs/framework/network-programming/** @karelz
# WCF
/docs/framework/configure-apps/file-schema/wcf/** @HongGit
/docs/framework/data/wcf/** @HongGit
/docs/framework/wcf/** @HongGit
# WPF
/docs/framework/wpf/** @Thraka
# Winforms
/docs/framework/winforms/** @Thraka

################## .NET STANDARD ##################
# Analyzers:
/docs/standard/analyzers/** @BillWagner
# What's New
/docs/standard/whats-new/** @rpetrusha
# .NET I/O
/docs/standard/io/** @mairaw
# .NET base types - Formatting
/docs/standard/base-types/formatting-types/** @rpetrusha
# .NET threading
/docs/standard/threading/** @rpetrusha
