
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/head}}
  <head>
    <base target="_parent">
  </head>
  <body class="toc">
    <div class="container-fluid">
      <div class="fixed_header row">
        <form class="toc-filter">
          <span class="glyphicon glyphicon-filter filter-icon"></span>
          <input type="text" id="toc_filter_input" placeholder="Enter here to filter..." onkeypress="if(event.keyCode==13) {return false;}">
        </form>
      </div>
      <div id="toc" class="toc row">
        <ul class="nav level1">
        {{#content}}
        <li>
          {{#href}}
          <a href="{{href}}" name="{{originalHref}}" title="{{name}}">{{name}}</a>
          {{/href}}
          {{^href}}
          <a>{{{name}}}</a>
          {{/href}}
          {{#items.0}}
          <ul class="nav level2">
          {{/items.0}}
          {{#items}}
            <li>
              {{#href}}
              <a href="{{href}}" name="{{originalHref}}" title="{{name}}">{{name}}</a>
              {{/href}}
              {{^href}}
              <a>{{name}}</a>
              {{/href}}
              {{#items.0}}
              <ul class="nav level3">
              {{/items.0}}
              {{#items}}
                <li>
                  {{#href}}
                  <a href="{{href}}" name="{{originalHref}}" title="{{name}}">{{name}}</a>
                  {{/href}}
                  {{^href}}
                  <a>{{name}}</a>
                  {{/href}}
                </li>
              {{/items}}
              {{#items.0}}
              </ul>
              {{/items.0}}
            </li>
          {{/items}}
          {{#items.0}}
          </ul>
          {{/items.0}}
        </li>
      {{/content}}
      </ul>
    </div>
    {{>partials/scripts}}
  </body>
</html>