docs/_build/
.idea/
*.swp
rebuild.cmd

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings

_site/
api/
_themes/
_themes.pdf/
_csharplang/
_vblang/
log/
.optemp/
.openpublishing.buildcore.ps1
# Spelling add-on file for Visual Studio Code.
spell.json
samples/framework/docker/MVCRandomAnswerGenerator/containerImage
.DS_Store
_dependentPackages/
!/xml/System.IO.Log/
!/xml/System.Net.Cache/

# Visual Studio Code
**/.vscode/
.vscode/
!.vscode/extensions.json

# Visual Studio 2019
.vs
UpgradeLog*.htm

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Windows shortcuts
*.lnk

[Bb]in/
[Oo]bj/
*.sln
*.user

# Ionide folder, used in F# for VSCode
.ionide/
docs/core/extensions/snippets/workers/cloud-service/Properties/PublishProfiles/cloudworker.pubxml
docs/csharp/language-reference/xmldoc/snippets/xmldoc/xmldoc.xml

BenchmarkDotNet.Artifacts
