@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The magic 8 ball web site lets you
    ask your questions to the magic 8 ball,
    and get the answers back in your browser.
</p>
