@font-face {
    font-family: 'wf_segoe-ui_light';
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot");
    src: local("Segoe UI Light"), local("Segoe WP Light"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}
@font-face {
    font-family: 'wf_segoe-ui_normal';
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot");
    src: local("Segoe UI"), local("Segoe"), local("Segoe WP"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'wf_segoe-ui_semibold';
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot");
    src: local("Segoe UI Semibold"), local("Segoe Semibold"), local("Segoe WP Semibold"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'wf_segoe-ui_semilight';
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.eot");
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'wf_segoe-ui_bold';
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot");
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}


body {
    font-family: wf_segoe-ui_normal, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #505050;
    font-size: 13px;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-family: wf_segoe-ui_light, wf_segoe-ui_semilight, wf_segoe-ui_normal, "HelveticaNeue-Thin", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
  font-size: 18px;
  color: #222222;
}

a {
  color: #2b59a9;
}

p {
  font-size: 13px;
  color: #505050;
}

.content {
    padding-top: 60px;
}

.hr {
  border-top: 1px solid #dddddd;
}

a, a:link, a:visited { color: #2b59a9; }

nav {
  font-size: 14px;
}
.navbar-nav > li > a.nav-active, .navbar-nav > li > a.nav-active:hover {
  background-color: #333;
  color: #fff;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  color: #c0c0c0;
}
footer > .inner-footer a {
  color: #c0c0c0;
  text-decoration: none;
}
footer > .inner-footer a:hover {
  color: #32145a;
  text-decoration: none;
}


/* End of main styles */

/* Index page styles */
.btn-hero-core {
  padding: 15px 25px;
  background-color: #8dc63f !important;
  color: #ffffff !important;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  /*font-weight: bold;*/
  margin-left: 20px;
}
.btn-hero-core:hover {
  /*color: #d89ae4;*/
  background-color: #7db039 !important;
  color: #ffffff !important;
  text-decoration: none;
}
.hero {
  background-color: #2b3990;
  width: inherit;
  color: #fff;
}
.starter-template {
  padding: 50px 15px;
  text-align: center;
  margin-top: 60px;
  min-height: 200px;
}
.dotnet {
  color: #fff;
}
.value-prop-heading {
  margin-top: 0px;
}
.value-props {
  margin-top: 40px;
  margin-bottom: 40px;
}

.intro-image {
  text-align: center;
}
.intro-image > img {
  margin-top: 20px;
}

/* End of index page styles */

/* Getting started page styles */
.getting-started-intro {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.getting-started-intro > h2, h4 {
  margin-bottom: 30px;
}
.btn-gs {
  width: 150px;
}
.btn-gs:hover, .btn-gs:active, .btn-gs:focus, .jquery-active {
  color: #fff !important;
  background-color: #682079;
  outline: 0 !important;
}
a.trail-start {
    cursor: pointer;
}

.step {
  width: 100%;
  margin: 50px auto;
  padding: 20px 0px;
  text-align: center;
  font-size: 16px;
  border: solid 1px #c0c0c0;
  min-height: 300px;
  background-color: #fff;
  border-radius: 10px;
}
.step-block {
  display: block;
}
.step-none {
  display: none;
}
.step-number {
  position: relative;
  top: -40px;
  background-color: #32145a;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  padding: 10px;
  border: solid 1px #c0c0c0;
  border-radius: 10px;
}

.step > h3 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
}
.step > p {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.code-sample {
  white-space: pre;
}


/* Terminal backgrounds */
.terminal {
  display: block;
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}
.terminal-titlebar {
  background-color: #c0c0c0;
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.terminal-body {
  background-color: #000;
  color: #fff;
  font-family: "Consolas", "Monaco", monospace;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  text-align: left;
  height: auto;
  overflow: auto;
  word-wrap: break-word;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.prompt {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #c0c0c0;
}
.windows-prompt:after {
    content: 'PS > ';
}
.unix-prompt:after {
  content: '~$ ';
}

/* Community meetup */
#communityContainer {
    margin-top: 35px;
}
.community-table {
    margin: 20px;
    width: 80%;
}
.community-table td {
    padding: 15px 10px;
    font-size: 14px;
}
.community-table tbody {
    border-top: 1px solid #682079;
    border-bottom: 1px solid #682079;
}
.community-table th {
    padding: 15px 10px;
}
.community-table tbody tr:nth-child(odd) {
    background-color: #EDEDED;
}

@media (max-device-width: 480px) and (orientation: portrait), (max-device-width: 700px) and (orientation: landscape){
  /* Index page overrides */
  .btn-hero-core {
    padding: 10px 15px;
    margin-left: 0px;
    font-size: 16px;
  }
  .intro-image > img {
    display: none;
  }

  /* Overview overrides */
  img[src*="10kft_view"] {
    width: 100%;
    height: 100%;
  }

  /* Getting started overrides */
  .btn-gs {
    width: auto;
  }

  .btn-gs:hover, .btn-gs:active, .btn-gs:focus, .jquery-active {
    width: auto;
  }

  .step {
    width: 90%;
    font-size: 14px;
  }
  .step > h3 {
    font-size: 24px;
  }
  .step-number {
    width: 40px;
    font-size: 18px;
    padding: 5px;
  }
  .terminal {
    width: 95%;
  }
  .terminal-titlebar {
    height: 20px;
  }
  .terminal-body {
    font-size: 12px;
    padding: 5px;
  }

  /* Community stuff overrides */
  .community-table td:nth-child(2) {
    display: none;
    }
}
