@font-face {
    font-family: 'wf_segoe-ui_light';
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot");
    src: local("Segoe UI Light"), local("Segoe WP Light"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/light/latest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased
}
@font-face {
    font-family: 'wf_segoe-ui_normal';
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot");
    src: local("Segoe UI"), local("Segoe"), local("Segoe WP"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/normal/latest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'wf_segoe-ui_semibold';
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot");
    src: local("Segoe UI Semibold"), local("Segoe Semibold"), local("Segoe WP Semibold"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/Semibold/latest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'wf_segoe-ui_semilight';
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.eot");
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/semilight/latest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'wf_segoe-ui_bold';
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot");
    src: url("https://i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.eot?#iefix") format("embedded-opentype"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.woff") format("woff"), url("//i.s-microsoft.com/fonts/segoe-ui/west-european/bold/latest.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}


body {
    font-family: wf_segoe-ui_normal, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #505050;
    font-size: 13px;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-family: wf_segoe-ui_light, wf_segoe-ui_semilight, wf_segoe-ui_normal, "HelveticaNeue-Thin", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
}

h2 {
  font-size: 18px;
  color: #222222;
}

a {
  color: #2b59a9;
}

p {
  font-size: 13px;
  color: #505050;
}

.hr {
  border-top: 1px solid #dddddd;
}

a, a:link, a:visited { color: #2b59a9; }

nav {
  font-size: 14px;
}
.navbar-nav > li > a.nav-active, .navbar-nav > li > a.nav-active:hover {
  background-color: #333;
  color: #fff;
}

footer {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  color: #c0c0c0;
}
footer > .inner-footer a {
  color: #c0c0c0;
  text-decoration: none;
}
footer > .inner-footer a:hover {
  color: #32145a;
  text-decoration: none;
}


/* End of main styles */

/* Index page styles */
.btn-hero-core {
  padding: 15px 25px;
  background-color: #8dc63f !important;
  color: #ffffff !important;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  /*font-weight: bold;*/
  margin-left: 20px;
}
.btn-hero-core:hover {
  /*color: #d89ae4;*/
  background-color: #7db039 !important;
  color: #ffffff !important;
  text-decoration: none;
}
.hero {
  background-color: #2b3990;
  width: inherit;
  color: #fff;
}
.starter-template {
  padding: 100px 15px;
  text-align: center;
}
.dotnet {
  color: #fff;
}
.value-prop-heading {
  margin-top: 0px;
}
.value-props {
  margin-top: 40px;
  margin-bottom: 40px;
}

.intro-image {
  text-align: center;
}
.intro-image > img {
  margin-top: 20px;
}

/* End of index page styles */

@media (max-device-width: 480px) and (orientation: portrait), (max-device-width: 700px) and (orientation: landscape){
  /* Index page overrides */
  .btn-hero-core {
    padding: 10px 15px;
    margin-left: 0px;
    font-size: 16px;
  }
  .intro-image > img {
    display: none;
  }

  /* Overview overrides */
  img[src*="10kft_view"] {
    width: 100%;
    height: 100%;
  }

  /* Getting started overrides */
  .btn-gs {
    width: auto;
  }

  .btn-gs:hover, .btn-gs:active, .btn-gs:focus, .jquery-active {
    width: auto;
  }

  .step {
    width: 90%;
    font-size: 14px;
  }
  .step > h3 {
    font-size: 24px;
  }
  .step-number {
    width: 40px;
    font-size: 18px;
    padding: 5px;
  }
  .terminal {
    width: 95%;
  }
  .terminal-titlebar {
    height: 20px;
  }
  .terminal-body {
    font-size: 12px;
    padding: 5px;
  }

  /* Community stuff overrides */
  .community-table td:nth-child(2) {
    display: none;
    }
}

