body {
  font-family: "Open Sans", "Segoe UI", sans-serif;
  padding-top: 0px;
}
footer {
  z-index: 0;
}
.navbar-brand {
  font-size: 18px;
  padding: 15px;
}
.toc .level3 {
  font-weight: normal;
  margin-top: 5px;
  margin-left: 10px;
}
a.pull-right {
    margin-left: 10px;
    padding-top: 5px;
}
article.content > h1 {
    word-break: break-word;
}
@media only screen and (max-width: 768px) {
  .toc .level3 > li {
    display: inline-block;
  }
  .toc .level3 > li:after {
    margin-left: -3px;
    margin-right: 5px;
    content: ", ";
    color: #666666;
  }
}
@media (max-width: 260px)  {
  .toc .level3 > li {
    display: block;
  }

  .toc .level3 > li:after {
    display: none;
  }
}
