body {
    font-family: wf_segoe-ui_normal, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #505050;
    font-size: 13px;
    line-height: 1.4em;
}
footer {
  z-index: 0;
}
.navbar-brand {
  font-size: 18px;
  padding: 15px;
}
.toc .level3 {
  font-weight: normal;
  margin-top: 5px;
  margin-left: 10px;
}
a.pull-right {
    margin-left: 10px;
    padding-top: 5px;
}
article.content > h1 {
    word-break: break-word;
}

/* Overrides for docfx.css */

button:hover,
button:focus,
a:hover,
a:focus {
  color: #23527c;
}

.sidetoc {
  position: fixed;
  width: 260px;
  top: 150px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #2b3990;
  border: none;
  /*border-left: 1px solid #e7e7e7;*/
  /*border-right: 1px solid #e7e7e7;*/
  z-index: 1;
}

body .toc{
  background-color: #2b3990;
  overflow-x: hidden;
  color: #bdc0d7;
}


.expand-stub {
  position: absolute;
  left: -10px;
  top: 8px;
}


.toc .nav > li > a {
  background: #2b3990;
  color: #bdc0d7;
  font-family: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
  font-size: 14px;
  display: inline-block;
  padding: 10px;
}


.toc .nav > li > a:hover,
.toc .nav > li > a:focus {
  color: #fff !important;
  background: #253278 !important;
}

.toc .nav > li.active > a {
  background: #1e194f;
  color: #ffffff;
}
.toc .nav > li.active > a:hover,
.toc .nav > li.active > a:focus {
  background: #1e194f !important;
  color: #ffffff !important;
}


.sidefilter {
  position: fixed;
  top: 90px;
  width: 260px;
  background-color: #231f20;
  padding: 15px;
  border: none;
  z-index: 1;
}
.toc-filter {
  border-radius: 0;
  background: none;
  color: #666666;
  padding: 5px;
  position: relative;
  margin: 0 5px 0 5px;
}
.toc-filter > input {
  width: 100%;
  border-radius: 0;
  padding: 6px 12px;
  border-color: #231f20;
  font-family: wf_segoe-ui_normal, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
  background-color: #4f4c4d;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.toc-filter > .filter-icon {
  display: none;
}

.navbar-default { 
    background-color: #231f20;
}

.navbar-default a, .navbar-default a:visited { 
    color:#bdc0d7 !important; 
}
h3,
.h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 700;
}
code {
    color:#E74C3C;
    background-color:#fff;
    border: solid 1px #e1e4e5;
    font-size: 75%;
    border-radius: 0px;
}
.affix ul > li > a:before {
  color: #2b3990;
  position: absolute;
}
.affix ul > li > a:hover {
  background: none;
  color: #2b3990;
}
.affix ul > li.active > a,
.affix ul > li.active > a:before {
  color: #2b3990;
}
.affix ul > li > a {
  padding: 5px 12px;
  color: #2b3990;
}
/* Overrides for docfx.vendor.css */

.navbar-default{background-color: #231f20;border-color:#e7e7e7}
.navbar-default .navbar-brand{color:#bdc0d7 !important}


@media only screen and (max-width: 768px) {
  .toc .level3 > li {
    display: inline-block;
  }
  .toc .level3 > li:after {
    margin-left: -3px;
    margin-right: 5px;
    content: ", ";
    color: #666666;
  }
}
@media (max-width: 260px)  {
  .toc .level3 > li {
    display: block;
  }

  .toc .level3 > li:after {
    display: none;
  }
}

