@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Magic 8 ball</h1>
    <p class="lead">Ask your question, and get the answer.</p>
</div>

<div class="row">
    <div class="col-md-4">
        Some text here
    </div>
    <div class="col-md-4">
        Whatever
    </div>
    <div class="col-md-4">
        Loren Ipsum rocks.
    </div>
</div>