<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <system.serviceModel>
    <services>
      <service 
        name="Microsoft.WCF.Documentation.SampleService"
        behaviorConfiguration="metadataEnabled"
      >
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/SampleService"/>
            <add baseAddress="net.tcp://localhost:8081/SampleService"/>
          </baseAddresses>
        </host>
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"
        />
        <endpoint
          address="http://localhost:9090/SampleService"
          binding="basicHttpBinding"
          contract="Microsoft.WCF.Documentation.ISampleService"
         />
        <endpoint
          address="net.tcp://localhost:30000/SampleService"
          binding="netTcpBinding"
          contract="Microsoft.WCF.Documentation.ISampleService"
         />
        <endpoint
          address="net.Tcp://localhost:15342/SampleService"
          binding="netTcpBinding"
          contract="Microsoft.WCF.Documentation.ISampleService"
         />
        <endpoint
          address="http://localhost:8989/SampleService"
          binding="wsHttpBinding"
          contract="Microsoft.WCF.Documentation.ISampleService"
         />
      </service>
    </services>
   <behaviors>
     <serviceBehaviors>
       <behavior name="metadataEnabled">
         <serviceMetadata
           httpGetEnabled="true"
           httpGetUrl=""/>
       </behavior>
     </serviceBehaviors>
   </behaviors>
  </system.serviceModel>
</configuration>