name: Base branch checker
on: [pull_request]

permissions:
  contents: read

jobs:
  live_protection_job:
    name: Check base branch
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        env:
          LIVE_BASE: ${{ github.base_ref == 'live' && github.head_ref != 'main' }}
        with:
          script: |
            if (process.env.LIVE_BASE == 'true') {
              core.setFailed('PR targets live branch')
            }
