name: Base branch checker
on: [pull_request]

permissions:
  contents: read

jobs:
  live_protection_job:
    name: Check base branch
    runs-on: ubuntu-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        env:
          LIVE_BASE: ${{ github.base_ref == 'live' && github.head_ref != 'main' }}
        with:
          script: |
            if (process.env.LIVE_BASE == 'true') {
              core.setFailed('PR targets live branch')
            }
