name: 'Snippets 5000'

# Controls when the action will run. Triggers the workflow on push or pull request
# events on the main branch only.
on:
  pull_request:
    branches: [ main ]
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      reason:
        description: 'The reason for running the workflow'
        required: true
        default: 'Manual run'

env:
  DOTNET_VERSION: '10.0.*'
  DOTNET_QUALITY: 'preview'
  DOTNET_DO_INSTALL: 'true' # To install a version of .NET not provided by the runner, set to true
  EnableNuGetPackageRestore: 'True'

permissions:
  contents: read

jobs:
  snippets-build:
    runs-on: windows-2022
    permissions:
        statuses: write

    steps:
    # Checkout the repository for the PR
    - name: Harden Runner
      uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
      with:
        egress-policy: audit

    - name: Checkout repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #@v4.2.2

    # Get the latest preview SDK (or sdk not installed by the runner)
    - name: Setup .NET
      if: ${{ env.DOTNET_DO_INSTALL == 'true' }}
      uses: actions/setup-dotnet@67a3573c9a986a3f9c594539f4ab511d57bb3ce9 #@4.3.1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
        dotnet-quality: ${{ env.DOTNET_QUALITY }}

    # Print dotnet info
    - name: Display .NET info
      run: |
        dotnet --info

    # Clone docs tools repo
    - name: Clone docs-tools repository
      run: |
        git clone --depth 1 https://github.com/dotnet/docs-tools

    # Run snippets 5000
    - name: Run snippets 5000 for PR
      env:
        GitHubKey: ${{ secrets.GITHUB_TOKEN }}
        ExtensionsCodeTriggers: .cs;.vb;.fs;.xaml;.razor;.cshtml;.vbhtml;.sln;.csproj;.fsproj;.vbproj;.proj
        ExtensionsProjects: .sln;.csproj;.fsproj;.vbproj;.proj
      run: |
        dotnet run --project docs-tools/snippets5000/Snippets5000/Snippets5000.csproj -- --sourcepath "${{ github.workspace }}" --pullrequest ${{ github.event.number }} --owner ${{ github.repository_owner }} --repo ${{ github.event.repository.name }}
