<Type Name="ExceptionMapper" FullName="System.ServiceModel.ExceptionMapper">
  <TypeSignature Language="C#" Value="public class ExceptionMapper" />
  <TypeSignature Language="ILAsm" Value=".class public auto ansi beforefieldinit ExceptionMapper extends System.Object" />
  <TypeSignature Language="DocId" Value="T:System.ServiceModel.ExceptionMapper" />
  <TypeSignature Language="VB.NET" Value="Public Class ExceptionMapper" />
  <TypeSignature Language="C++ CLI" Value="public ref class ExceptionMapper" />
  <TypeSignature Language="F#" Value="type ExceptionMapper = class" />
  <AssemblyInfo>
    <AssemblyName>System.ServiceModel</AssemblyName>
    <AssemblyVersion>4.0.0.0</AssemblyVersion>
  </AssemblyInfo>
  <Base>
    <BaseTypeName>System.Object</BaseTypeName>
  </Base>
  <Interfaces />
  <Docs>
    <summary>Defines the mapping to be used for translating exceptions to fault.</summary>
    <remarks>To be added.</remarks>
  </Docs>
  <Members>
    <Member MemberName=".ctor">
      <MemberSignature Language="C#" Value="public ExceptionMapper ();" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig specialname rtspecialname instance void .ctor() cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.#ctor" />
      <MemberSignature Language="VB.NET" Value="Public Sub New ()" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; ExceptionMapper();" />
      <MemberType>Constructor</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Parameters />
      <Docs>
        <summary>Initializes a new instance of the <see cref="T:System.ServiceModel.ExceptionMapper" /> class.</summary>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <MemberGroup MemberName="FromException">
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <Docs>
        <summary>Translates the input exception to a fault.</summary>
      </Docs>
    </MemberGroup>
    <Member MemberName="FromException">
      <MemberSignature Language="C#" Value="public virtual System.ServiceModel.FaultException FromException (Exception ex);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.ServiceModel.FaultException FromException(class System.Exception ex) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.FromException(System.Exception)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function FromException (ex As Exception) As FaultException" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual System::ServiceModel::FaultException ^ FromException(Exception ^ ex);" />
      <MemberSignature Language="F#" Value="abstract member FromException : Exception -&gt; System.ServiceModel.FaultException&#xA;override this.FromException : Exception -&gt; System.ServiceModel.FaultException" Usage="exceptionMapper.FromException ex" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.ServiceModel.FaultException</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="ex" Type="System.Exception" />
      </Parameters>
      <Docs>
        <param name="ex">The exception to be mapped to a fault.</param>
        <summary>Translates the input exception to a fault.</summary>
        <returns>The fault corresponding to the input exception.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="FromException">
      <MemberSignature Language="C#" Value="public virtual System.ServiceModel.FaultException FromException (Exception ex, string soapNamespace, string trustNamespace);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance class System.ServiceModel.FaultException FromException(class System.Exception ex, string soapNamespace, string trustNamespace) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.FromException(System.Exception,System.String,System.String)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function FromException (ex As Exception, soapNamespace As String, trustNamespace As String) As FaultException" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual System::ServiceModel::FaultException ^ FromException(Exception ^ ex, System::String ^ soapNamespace, System::String ^ trustNamespace);" />
      <MemberSignature Language="F#" Value="abstract member FromException : Exception * string * string -&gt; System.ServiceModel.FaultException&#xA;override this.FromException : Exception * string * string -&gt; System.ServiceModel.FaultException" Usage="exceptionMapper.FromException (ex, soapNamespace, trustNamespace)" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.ServiceModel.FaultException</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="ex" Type="System.Exception" />
        <Parameter Name="soapNamespace" Type="System.String" />
        <Parameter Name="trustNamespace" Type="System.String" />
      </Parameters>
      <Docs>
        <param name="ex">The exception to be mapped to a fault.</param>
        <param name="soapNamespace">The SOAP Namespace to be used when generating the mapped fault.</param>
        <param name="trustNamespace">The WS-Trust Namespace to be used when generating the mapped fault.</param>
        <summary>Translates the input exception to a fault.</summary>
        <returns>The fault corresponding to the input exception.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
    <Member MemberName="HandleSecurityTokenProcessingException">
      <MemberSignature Language="C#" Value="public virtual bool HandleSecurityTokenProcessingException (Exception ex);" />
      <MemberSignature Language="ILAsm" Value=".method public hidebysig newslot virtual instance bool HandleSecurityTokenProcessingException(class System.Exception ex) cil managed" />
      <MemberSignature Language="DocId" Value="M:System.ServiceModel.ExceptionMapper.HandleSecurityTokenProcessingException(System.Exception)" />
      <MemberSignature Language="VB.NET" Value="Public Overridable Function HandleSecurityTokenProcessingException (ex As Exception) As Boolean" />
      <MemberSignature Language="C++ CLI" Value="public:&#xA; virtual bool HandleSecurityTokenProcessingException(Exception ^ ex);" />
      <MemberSignature Language="F#" Value="abstract member HandleSecurityTokenProcessingException : Exception -&gt; bool&#xA;override this.HandleSecurityTokenProcessingException : Exception -&gt; bool" Usage="exceptionMapper.HandleSecurityTokenProcessingException ex" />
      <MemberType>Method</MemberType>
      <AssemblyInfo>
        <AssemblyName>System.ServiceModel</AssemblyName>
        <AssemblyVersion>4.0.0.0</AssemblyVersion>
      </AssemblyInfo>
      <ReturnValue>
        <ReturnType>System.Boolean</ReturnType>
      </ReturnValue>
      <Parameters>
        <Parameter Name="ex" Type="System.Exception" />
      </Parameters>
      <Docs>
        <param name="ex">The input exception.</param>
        <summary>Determines whether an exception that occurred during the processing of a security token should be handled.</summary>
        <returns>
          <see langword="true" /> if the exception should be handled; otherwise, <see langword="false" />.</returns>
        <remarks>To be added.</remarks>
      </Docs>
    </Member>
  </Members>
</Type>